<li>
	{{burger_name}} 

	<button class="change-devoured btn btn-primary btn-sm" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}} Devour it!{{else}} Make Again!{{/if}}
	</button>

	{{!-- <button class="delete-burger btn btn-primary btn-sm" data-id="{{this.id}}">Delete!</button> --}}
</li>
